.mapImg {
  width: 100%;
  image-rendering: pixelated;
}

.imgContainer {
  position: relative;
}

.gameIntroHeader {
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 2.5rem;
}

.gameInfoDiv {
  display: flex;
  align-items: center;
  position: sticky;
  width: 24rem;
  top: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  z-index: 1;
}
