nav {
  background-color: rgb(42, 42, 42);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 1rem;
}

.navMainTitle, .navLeaderboard {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.selectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.playBtn {
  border: none;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background-color: rgb(73, 76, 90);
  color: white;
  
}

.mapTitle {
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
}

.cardImg {
  width: 300px;
  height: 300px;
  /* image-rendering: pixelated; */
  margin-bottom: 1rem;
}

.targetCircle {
  width: 50px;
  height: 50px;
  border: dotted 6px red;
  border-radius: 50%;
}

.dropdownList {
  list-style-type: none;
  background-color: rgb(244, 223, 223);
  border-radius: 0.4rem;
  padding: 0.2rem;
}

.dropdownBtn {
  padding: 0.5rem 1rem;
  width: 7rem;
  border: none;
  border-radius: 0.4rem;
  background-color: rgb(250, 177, 177);
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  font-size: 1.2rem;
}

.stopwatchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(108, 16, 16);
  width: 8rem;
  border-radius: 0.4rem;
  margin: 0.5rem;
  position: sticky;
  top: 1rem;
  z-index: 1;
}

.stopwatchTime {
  font-size: 1.8rem;
  color: white;
  text-align: center;
  margin-top: auto;
}

.targetFoundX {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: solid 1px red;
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}

.formDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 1rem;
}

.formDialog::backdrop {
  background: hsl(0 0% 0% / 50%);
}

/* :modal {
  background-color: beige;
  border: 2px solid burlywood;
  border-radius: 5px;
} */